.hidden { display: none; }

$main-bg-color: rgb(22, 22, 22);
$main-color: white;

$main-font-face: "Raleway", sans-serif;

$main-font-size: 17px;

$heading-color: rgba(128, 255, 170, 0.922);

// quick reset
* {
    border: none;
    padding: 0.5em;
    margin: 0.4em;
}